@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

body {
    display: flex;
}

#score {
    font-family: "permanent marker", cursive;
    font-size: 30px;
    margin-left: 1100px;
    bottom: 700px;
    position: absolute;
    color: black;
}

.display {
    width: 1980px;
    height: 730px;
    left: 80px;
    position: absolute;
    overflow: hidden;
}

.top {
    background-image:url(Images/classroom\ bg\ .png);
    width: 1250px;
    height: 680px;
    position: absolute;
}

.ground {
    background:black;
    width: 1250px;
    height: 50px;
    position: absolute;
    top: 680px;
    z-index: +1
}

.ghost {
    background-image: url(Images/ghost\ icon.png);
    position: absolute;
    width: 60px;
    height: 60px;
    left: 220px;
    bottom: 100px;
    
}

#gameOver {
    font-family: "permanent marker", cursive;
    font-size: 50px;
    color: red;
    margin-left: 580px;
    position: absolute;
    bottom: 450px;
}

.pillar {
    background-image: url(Images/pillar.png);
    width: 60px;
    height: 300px;
    position: absolute;
}

.topPillar {
    background-image: url(Images/pillar.png);
    width: 60px;
    height: 300px;
    position: absolute;
}