@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

#score {
    font-family: "permanent marker", cursive;
    font-size: 30px;
    padding-left: 90px;
    padding-top: 70px;
    position: absolute;
}

#start {
    font-family: "permanent marker", cursive;
    font-size: 30px;
    padding-left: 90px;
    padding-top: 150px;
    position: absolute;
}

#audio {
    font-family: "permanent marker", cursive;
    font-size: 30px;
    padding-left: 90px;
    padding-top: 230px;
    position: absolute;
}

#display {
    width: 1000px;
    height: 600px;
    margin-left: 300px;
    margin-top: 50px;
    position: relative;
    border: 2px solid black;
    background: black;
    overflow: hidden;
}

/* how to use animation: https://www.w3schools.com/cssref/css3_pr_animation-keyframes.php */

#pillarOne {
    width: 50px;
    height: 600px;
    background: #f9d4fa;
    position: absolute;
    left: 800px; 
    animation: pillarOne 10s linear infinite;
}

@keyframes pillarOne{
    from {left: 800px}
    to {left:-50px}
}

#holeOne {
    width: 50px;
    height: 100px;
    background-color: black;
    position: absolute;
    left: 800px;
    top: 200px;
    animation: pillarOne 10s linear infinite;

}

#pillarTwo {
    width: 50px;
    height: 600px;
    background: #f9d4fa;
    position: absolute;
    left: 1000px; 
    animation: pillarTwo 15s linear infinite;
}

@keyframes pillarTwo{
    from {left: 1000px}
    to {left:-50px}
}

#holeTwo {
    width: 50px;
    height: 100px;
    background-color: black;
    position: absolute;
    left: 1000px;
    top: 400px;
    animation: pillarTwo 15s linear infinite;

}

#ghost {
    height: 25px;
    width: 25px;
    background: yellow;
    border: 50px;
    position: absolute;
    z-index: 1;
}

#gameOver {
    font-family: "permanent marker", cursive;
    font-size: 30px;
    color: red;
    margin-left: 410px;
    position: absolute;
    bottom: 500px;
}
