@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

body {
    display: flex;
}

#score {
    font-family: "permanent marker", cursive;
    font-size: 30px;
    padding-left: 90px;
    padding-top: 70px;
    position: absolute;
}

.display {
    width: 1000px;
    height: 730px;
    left: 80px;
    position: absolute;
    overflow: hidden;
}

.top {
    background-image:url(background.png);
    width: 1000px;
    height: 580px;
    position: absolute;
}

.ground {
    background: black;
    width: 1000px;
    height: 180px;
    position: absolute;
    top: 580px;
    z-index: +1
}

.ghost {
    background-image: url("https://i.ibb.co/rGwrcC3/ghost.png");
    position: absolute;
    width: 60px;
    height: 60px;
    left: 220px;
    bottom: 100px;
    
}

#gameOver {
    font-family: "permanent marker", cursive;
    font-size: 30px;
    color: red;
    margin-left: 410px;
    position: absolute;
    bottom: 300px;
}

.pillar {
    background-color: green;
    width: 60px;
    height: 300px;
    position: absolute;
}

.topPillar {
    background-color: red;
    width: 60px;
    height: 300px;
    position: absolute;
}